.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 50px;

    h1{
        font-size: 30px;      
    }

    span{
        max-width: 60%;
        text-align: center;
        margin-top: 20px;
    }
    .socials{
        display: flex;
        flex-wrap: wrap;
        margin: 100px 0;
        justify-content: center;
    }

    footer{
        margin-top: 50px;
        text-align: center;
    }
}